<html>
  <head>
    <title> FPM Imaging </title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}"/>
  </head>
  <body>
    <header id="main-header">
      <a id="logo-header" href="#">
        <span class="site-name">Moving platform testing</span>
      </a> <!-- / #logo-header -->
    </header><!-- / #main-header -->
      <p>
        <img src='\testcam' onerror="this.src='static/img/lines0_0.png'" class = "test">
      <!-- <img src='static/img/lines0_0.png' class = "test"/> -->
      <div align = "middle" class="buttons">
      <form action = "./action" method = "post">
            <p>Change angles to see its output:</p>
            <p><input type = "text" name = "nm" /></p>
            Raw parameters
            <!-- <div class="boxed">&theta;: {{theta}}</div>
            <div class="boxed">&phi;: {{phi}}</div>
            <div class="boxed">&Delta;: {{shift}}</div> -->
            &theta;: {{theta}}, &phi;: {{phi}}, 	&Delta;: {{shift}}
            <div id="from">
              <label for="phi"> &phi;</label>
              <button name="controls" value="phi++" type="submit">&phi;&uarr;</button>
              <button name="controls" value="phi--" type="submit">&phi;&darr;</button>
            </div>
            <div id="from">
              <label for="theta"> &theta;</label>
              <button name="controls" value="theta++" type="submit">&theta;&uarr;</button>
              <button name="controls" value="theta--" type="submit">&theta;&darr;</button>
            </div>
            <div id="from">
              <label for="shift"> &Delta;</label>
              <button name="controls" value="shift++" type="submit">&Delta;&larr;</button>
              <button name="controls" value="shift--" type="submit">&Delta;&rarr;</button>
            </div>
        </form>

      </div>
    </p>
  </body>
</html>
