<html>
  <head>
    <title> FPM Imaging </title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}"/>
  </head>
  <body>
    <header id="main-header">
      <a id="logo-header" href="#">
        <span class="site-name">Moving platform testing</span>
      </a> <!-- / #logo-header -->
    </header><!-- / #main-header -->
        <img src='\testcam' onerror="this.src='static/img/lines0_0.png'" class = "viewer">
      <!-- <img src='static/img/lines0_0.png' class = "test"/> -->
      <div align = "middle" class="buttons">
      <form action = "./action" method = "post">
            <p>Change coordinates to fit the spot</p>
            <div id="from">
              <button name="controls" value="phi_up" type="submit">&phi;&uarr;</button>
              <button name="controls" value="phi_down" type="submit">&phi;&darr;</button>
              <input type = "text" name = "input_phi" value={{phi}}>
              <label for="phi"> &phi;: {{phi}} </label>
            </div>
            <div id="from">
              <button name="controls" value="theta_up" type="submit">&theta;&uarr;</button>
              <button name="controls" value="theta_down" type="submit">&theta;&darr;</button>
              <input type = "text" name = "input_theta" value={{theta}}>
              <label for="theta"> &theta;: {{theta}} </label>
            </div>
            <div id="from">
              <button name="controls" value="shift_up" type="submit">&Delta;&larr;</button>
              <button name="controls" value="shift_down" type="submit">&Delta;&rarr;</button>
              <input type = "text" name = "input_shift" value={{shift}}>
              <label for="shift"> &Delta;: {{shift}} </label>
            </div>
            <div id="from">
              <button name="controls" value="ls_up" type="submit">LON</button>
              <button name="controls" value="ls_down" type="submit">LOFF</button>
            </div>
            <div id="from" >
              <label for="saveparams"> Or enter angles in textboxes </label>
              <p><button name="controls" value="textboxes_input" type="submit" id="bigbutton" >Set parameters</button></p>
            </div>
            <div id="from" >
              <label for="saveparams"> Once fit, save this parameters </label>
              <p><button name="controls" value="append_parameter" type="submit" id="bigbutton" >Append data parameter</button></p>
              <p><button name="controls" value="save_parameters" type="submit" id="bigbutton" >Save parameters</button></p>

            </div>
            <div id="from" >
              <label for="shift"> &Delta;</label>
              <input name="controls" type="range"  min="0" max="100" class="slider-width100" value={{shift}} step="1" onchange="showValue(this.value)"/>
              <span id="range">0</span>
            </div>
        </form>
      </div>
      <script type="text/javascript">
        function showValue(newValue)
        {
        	document.getElementById("range").innerHTML=newValue;
        }
      </script>
  </body>
</html>
