body                  { font-family: sans-serif; background: #eee; }
a, h1, h2             { color: #377ba8; }
h1, h2                { font-family: 'Georgia', serif; margin: 0; }
h1                    { border-bottom: 2px solid #eee; }
h2                    { font-size: 1.2em; }
input[type=text]      { width: 6%; height: 6%; padding: 5px 5px; margin: 8px 0; box-sizing: border-box; text-align: center;}
select option         { color: red;}
input[type=submit]    { width: 6%; background-color: #4CAF50; color: white;
                        padding: 5px 5px; margin: 10px 10px; border: 2px ; border-radius: 4px;
                        cursor: pointer;}
input[type=submit]:hover { background-color: #45a049;}
img.viewer             { display: block; float:left; border:5px solid black; margin: 20px 20px 10px 10px; width: 40%; }
.center               { margin: auto; width: 50%; border: 3px solid green; padding: 10px;}
.page                 { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                        padding: 0.8em; background: white; }
button          { width: 40px; background-color: #3CAE50; color: white;
                  padding: 1px 1px; margin: 10px 10px; border: 2px ; border-radius: 40px;
                  cursor: pointer;}
button:hover { background-color: #45a049;}
.boxed {
  border: 1px solid green ;
}
.slider-width100
{
    width: 25% !important;
    padding: 5px 5px; margin: 10px 10px; border: 2px ; border-radius: 4px;
}
div.controls {
  background-color: #4CAF50;
  width: 60%;
  height: 60%;
  position: relative;
}
div.buttons {
  width: 50%;
  height: 50%;
  position: relative;
  top: 20px;
  left: auto;
  float:left;
}
#bigbutton {
    width: 60%;  height: 2em;
}
#main-header {
	background: #333;
	color: white;
	height: 50px;
}
	#main-header a {
		color: white;
}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
		color: #0b76a6;
}
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
